<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <input name="post-id" type="hidden" value="{{post.id}}" />
    <div>
      <label for="post-title">Blog Post Title</label>
      <input name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      <label for="post-body">Blog Post Body</label>
      <input name="post-body" type="text" value="{{post.body}}" />
    </div>
    <button type="submit">Save post</button>
  </form>

  <button type="button" class="delete-post-btn">Delete post</button>
  
  <form class="comment-form">
    <div>
      <textarea name="comment-text"></textarea>
    </div>

    <div>
      <button type="submit">add comment</button>
    </div>
  </form>
</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>