<div class="login-container">
  <form class="login-form">
    <h2>Login</h2>
    <div>
      <label for="username-login">Username:</label>
      <input type="text" id="username-login" required />
    </div>
    <div>
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" required />
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>

  <form class="signup-form">
    <h2>Sign Up!</h2>
    <div>
      <label for="username-signup">Username:</label>
      <input type="text" id="username-signup" required />
    </div>
    <div>
      <label for="password-signup">Password:</label>
      <input type="password" id="password-signup" required />
    </div>
    <div>
      <button type="submit">Sign Up!</button>
    </div>
  </form>

</div>

<script src="/javascript/login.js"></script>